.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.left {
  background-color: #efefef;
  color: #000;
  height: 400px;
  width: 50%;
  float: left;
}
.right {
  background-color: #efefef;
  color: #000;
  height: 400px;
  width: 50%;
  float: right;
}

.taskViewImage {
  height: auto;
  max-height: 350px;
  max-width: 100%;
}

.casecontainer {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.caseitem {
  flex-direction: row;
  height: 100px;
  width: 22em;
  padding: 15px;
  margin: 15px;
  background-color: pink;
  border-radius: 7px;
  box-shadow: lightslategray;
}

.footercontainer {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  background-color: lightsteelblue;
}
.footeritem {
  flex-direction: row;
  height: 75px;
  width: 22em;
  padding: 15px;
  margin: 15px;
  background-color: lightsteelblue;
  border-radius: 7px;
  box-shadow: lightsalmon;
}
/* .splashImageContainer {
  display: flex;
  position: relative;
  max-height: 300px;
  width: 100%;
  text-align: center;
  color: white;
}

.splashImagePhoto {
  height: auto;
  max-height: 400px;
  width: 100%;
}

.splashImageTitle {
  color: #3ddb93;
  font-size: larger;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.callToActionContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 25px 100px;
}

.callToActionLeft {
  text-align: center;
}

.callToActionRight {
  text-align: right;
}

.submitButton {
  background-color: #3ddb93;
  color: white;
  border-radius: 10px;
  height: 25px;
  width: 125px;
}

#startButton {
  background-color: #3ddb93;
  border-radius: 10px;
  color: white;
  font-size: x-large;
  font-weight: 700;
  height: 50px;
  width: 250px;
} */
